<p-breadcrumb [model]="applicationBreadcrumb.itemsList" ></p-breadcrumb>
<h3 class="Sidebar-title-md"><i class="bi bi-file-earmark-medical"></i>Unit</h3>

    <app-super-grid
    *ngIf="isDataReady"
    [configurations]="gridConfigurations" 
    [tableData]="mstUnitData" 
    [tableConfig] = "tableConfig"
    [sidebarJSON] = "sidebarConfig"
    (sideBarEvent)="closeSidebarData($event)"
    (confirmAction)="confirmAction($event)"
    (isActive)="toggleMstUnitStatus($event)"
    (Bulkdelete)="bulkDeleteMstUnit($event)"
    (onEdit)="onEdit($event)"
    (onAdd)="initializeAddForm($event)"
    [editData]="selectedUnitData">

    <app-form projectTowards="sidebar" *ngIf="selectedUnitData" [formJSON]="sidebarConfig" [editData]="selectedUnitData"
    (btnEvent)="handleButtonClick($event)" (formData)="sidebarData($event)"></app-form>

</app-super-grid>
<p-toast></p-toast>