<h6 class="{{homelist.formTitleClass}}"><i class="{{homelist.formTitleLogo}}"></i>{{homelist.formTitle}}</h6>
<div class="{{homelist.Row}}">
    <div class="{{HomeList.listClass}} {{HomeList.Css}}" *ngFor="let HomeList of homelist.HomeList">
        <div class="avatar-section">
            <!-- <p-card  routerLink="{{HomeList.routerLink}}">
                <img src="{{HomeList.image}}">
            </p-card> -->

            <p-avatar styleClass="wrapper"	 [title]="" styleClass="ml-5" routerLink="" image="{{HomeList.image}}" size="xlarge"
                shape="circle"></p-avatar>
            <h5 class="{{HomeList.Css}}"  style="text-align: center;">{{HomeList.label}}</h5>
        </div>
        <!-- <h6 class="card-title{{HomeList.LabelCss}}">{{HomeList.label}}</h6>  -->
    </div>
</div>

<!-- <div class="card-icon">
    <img src="images/users/user5.jpg" alt="">
</div> -->