<div class="{{homelist.Row}}">
    <div class="{{HomeList.listClass}} {{HomeList.Css}}" *ngFor="let HomeList of homelist.HomeList">
        <div >
            <!-- <p-card  routerLink="{{HomeList.routerLink}}">
                <img src="{{HomeList.image}}">
            </p-card> -->

            <div class="card card-home card-inverse">
                <div class="card-body text-center">
                    <img src="{{HomeList.image}}" class="img-fluid">
                  <!-- <h4 class="card-title">Creative</h4> -->
                  <h6 class="card-title">{{HomeList.label}}</h6> 
                </div>
              </div>
        </div>
     <!-- <h6 class="card-title{{HomeList.LabelCss}}">{{HomeList.label}}</h6>  -->
    </div>
</div>