<!-- <p-card header={{title}}>
  <div class="description">
   
  </div>
</p-card> -->


<div class="row">
    <div class="card-cst">
      <div class="card-body-cst">
        <ng-content></ng-content>
        <!-- <div class="row no-gutters align-items-center">
          <div class="col-auto">
            <img src="../../../assets/core_assets/card-icon.png" width="25px" height="30px">
          </div>
          <div class="col mr-2">
            <div class="text-value font-weight-bold mb-1">Action Button</div>
          </div>
        </div> -->
      </div>
    </div>
</div>