<div class="row">
    <div class={{tabularData.listClass}}>
        <div class="cardDesign" *ngFor="let list of tabularData.tabular" (click)="setActive(list)">
            <ul (click)="render(list)" class="verticalTabular ulDesign" style="cursor: pointer;">
                <p [class.verticaltab]="list === activeState" class="design"> <img src="{{list.image}}"
                        class="{{list.imgCss}}"> {{list.label}} </p>
            </ul>
        </div>
    </div>
    <div class={{tabularData.cardClass}}>
        <div class="cardDesign">
                <p-card class="verticalCards card" header="">

                    <ng-content></ng-content>
                </p-card>

        </div>
    </div>
</div>