ul p.verticaltab {
    background-color: #374476;;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-image: url("/assets/verticaltabyellow.png") !important;
    background-repeat: no-repeat;
    background-position: left 0.75rem center;

}
.design{
    margin-top: 25px;
    border: red;
    margin-bottom: 1rem;
    background-color: #DEDEDE;
    padding: 10px;
    border-radius: 1px;
    height: 40px;
}

::ng-deep.card{
    margin: 25px;
    padding: 0px !important;
  }
  ::ng-deep.ulDesign{
    padding: 0px;
  }