<div class="row">
   
        <div class={{tabularData.listClass}}>
            <p-card>
            <ul (click)="render(list)" class="verticalTabular" style="cursor: pointer;" (click)="setActive(list)" *ngFor="let list of tabularData.tabular">
                <p [class.verticaltab]="list === activeState" >{{list.label}}</p>
            </ul>
        </p-card>
        </div>
        <div class={{tabularData.cardClass}}>
            <p-card class="verticalCards">
            <ng-content></ng-content>
        </p-card>
        </div>
    
    
</div>