.verticaltab {
    background-color: #374476;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-image: url("/assets/core_assets/verticalCard.png");
    background-repeat: no-repeat;
    background-position: left 0.75rem center;
}

.active{
    background-color:  #374476 !important;
    color: white;
    padding: 10px;
    border-radius: 4px;
    background-image: url("/assets/core_assets/verticaltabyellow.png") !important;
    background-repeat: no-repeat;
    background-position: left 0.75rem center;
}

.design {
    border: red;
    background-color: #DEDEDE;
    padding: 9px;
    border-radius: 1px;
    height: 40px;
    list-style-type: none;
}
