
<p-breadcrumb [model]="Application_breadcrumb.itemsList" ></p-breadcrumb>
<h3 class="formclass"><i class="bi bi-file-earmark-medical"></i>LOV Type Module</h3>
<app-super-grid
    *ngIf="data"
    [configurations]="configurations" 
    [tableData]="data" 
    [tableConfig] = "config"
    [sidebarJSON] = "sidebarJSON"
    (sideBarEvent)="sidebarData($event)"
    (confirmAction)="confirmAction($event)"
    (isActive)="isActive($event)"
    (Bulkdelete)="Bulkdelete($event)"
    (onEdit)="onEdit($event)"
    (onAdd)="onAdd($event)"
    [editData]="editData">

    <app-form projectTowards="sidebar" *ngIf="editData" [formJSON]="sidebarJSON" [editData]="editData"
    (btnEvent)="buttonEvent($event)" (formData)="sidebarData($event)"></app-form>
>
</app-super-grid>

<iframe src="https://itsrohitsalunke09.grafana.net/dashboard-solo/new?orgId=1&from=1688513632458&to=1688535232458&theme=light&panelId=1" width="450" height="200" frameborder="0"></iframe>


<iframe src="https://itsrohitsalunke09.grafana.net/d-solo/ef27bb38-4cab-4549-88ec-a3a2af66d9c6/new-dashboard?orgId=1&panelId=1" width="450" height="200" frameborder="0"></iframe>

<iframe src="https://play.grafana.org/d-solo/3SWXxreWk/grafana-dashboard?orgId=1&from=1688536629166&to=1688540229166&theme=light&panelId=2" width="450" height="200" frameborder="0"></iframe>