<p-breadcrumb [model]="LOV_breadcrumb.itemsList" ></p-breadcrumb>
<h3 class="formclass"><i class="bi bi-file-earmark-medical"></i>LOV Value</h3>
<app-super-grid 
    *ngIf="data"
    [configurations]="configurations" 
    [tableData]="data" 
    [tableConfig]="tableConfig"
    [sidebarJSON]="LOVFormData" 
    (sideBarEvent)="sidebarData($event)" 
    (confirmAction)="confirmAction($event)"
    (Bulkdelete)="BulkDeleteRows($event)"
    (editRow)="editRow($event)" 
    (addRow)="addRow($event)" 
    (isActive)="isActive($event)"
    (onAdd)="onAdd($event)"
    (onEdit)="onEdit($event)">
    <app-form projectTowards="sidebar" *ngIf="editData" [formJSON]="LOVFormData" [editData]="editData" (btnEvent)="buttonEvent($event)" (formData)="sidebarData($event)"></app-form>
</app-super-grid>