<!-- <app-vertical-tabular [tabularData]="verticalTabs" (renderComponents)="renderComponents($event)">
</app-vertical-tabular>  -->
<!-- <app-home-page></app-home-page> -->
<h3 class="formclass">Settings</h3>
<div class="row">
    <div class="{{verticalTabs.listClass}} pe-2 ">
        <div class="cardDesign">
            <ul style="cursor: pointer; padding: 0px;">
                <li *ngFor="let list of verticalTabs.tabular" (click)="render(list)" id="{{list.label}}"
                    class="design my-1"> <img src="../../../assets/core_assets/verticalCard.png"
                        class="{{list.imgCss}}">
                    {{list.label}}
                </li>
                <!-- <p [class.verticaltab]="list === activeState" class="design"> <img src="{{list.image}}"
                        class="{{list.imgCss}}"> {{list.label}} </p> -->
            </ul>
        </div>
    </div>
    <!-- <div *ngIf="allFlag.theme" class={{verticalTabs.cardClass}}>
        <div class="cardDesign">
            <p-card class="verticalCards">
                <p class="headerTheme"> Change Theme </p>
                <p-menubar [class.optionActive]="themeOptins === activeStateButton"
                    (click)="setActiveButton(themeOptins)" #menu pTooltip="Setting" tooltipPosition="bottom"
                    [model]="themeOptins">
                    <a (click)="changeTheme('dark-theme')" class="mr-3 cursor-pointer"></a>
                </p-menubar>
            </p-card>
        </div>
    </div> -->
    <div *ngIf="allFlag.Personalization" class={{verticalTabs.cardClass}}>
        <app-personalization></app-personalization>
    </div>
    <div *ngIf="allFlag.EditForm" class={{verticalTabs.cardClass}}>
        <div class="cardDesign">
            <p-card class="verticalCards">
                <p class="headerTheme">Edit Profile</p>
             <app-edit-profile></app-edit-profile>
            </p-card>
        </div>
    </div>
    <!-- <div *ngIf="allFlag.dateFormat" class={{verticalTabs.cardClass}}>
        <div class="cardDesign">
            <p-card class="verticalCards">
                <p class="headerTheme">Date Format</p>
                <h1>hello world</h1>
            </p-card>
        </div>
    </div> -->
</div>