

<!----------- Generic Filter ----------->
<!-- <app-filter *ngIf="configurations.isFilter" [filterData]="filterData" (selectedData)="fitereddata($event)"></app-filter> -->

<!----------- Generic Card ----------->
<app-generic-card ></app-generic-card>

<!----------- Delete modal ----------->
<!-- <p-confirmDialog #cd [position]="'top'" [style]="{width: '30vw'}"></p-confirmDialog> -->
<p-confirmDialog #cd [position]="'top'" [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" class="btn butn-custom-dark-blue" (click)="cd.reject()">No</button>
        <button type="button" class="btn butn-custom-wrng" (click)="cd.accept()">Yes</button>
    </ng-template>
</p-confirmDialog>

<!----------- SideBar ----------->
<app-sidebar *ngIf="configurations.isSideBar" [visibleSidebar]="visibleSidebar" [sidebarJSON]="sideBarJson"
    [sidebarConfig]="config" (sidebarData)="sidebarData($event)">
    <ng-content select="[projectTowards=sidebar]"></ng-content>
</app-sidebar>