<p-breadcrumb [model]="ActionRole_breadcrumb.itemsList" ></p-breadcrumb>
<h3 class="Sidebar-title-md "><i class="bi bi-file-earmark-medical"></i>Action Role</h3>

<!-- <app-filter *ngIf="configurations.isFilter" [filterData]="filterData" (selectedData)="fiteredData($event)"></app-filter> -->

<app-super-grid
    *ngIf="data"
    [configurations]="configurations" 
    [tableData]="data" 
    [tableConfig] = "config"
    [sidebarJSON] = "formdata"
    (sideBarEvent)="closeSidebarData($event)"
    (confirmAction)="confirmAction($event)"
    (onAdd)="onAdd($event)"
    (onEdit)="onEdit($event)"
    (editRow)="editRow($event)" 
    (addRow)="addRow($event)" 
    (isActive)="isActive($event)"
    (Bulkdelete)="BulkDeleteRow($event)" 
    (changeEvents)="changeCheckBox($event)"
    >
<app-form projectTowards="sidebar" *ngIf="editData" [formJSON]="formdata" [editData]="editData" (btnEvent)="buttonEvent($event)" (formData)="sidebarData($event)"></app-form>

</app-super-grid>
<p-toast></p-toast>


