<!-- <p-breadcrumb [model]="items.itemsList"></p-breadcrumb> -->

<h3 class="formclass"><i class="bi bi-file-earmark-medical"></i>Patient Registration</h3>
<!-- <app-filter *ngIf="configurations.isFilter" [filterData]="filterData" (selectedData)="fiteredData($event)"></app-filter> -->

<app-super-grid *ngIf="data" 
    [configurations]="configurations" 
    [tableData]="data" 
    [tableConfig]="config" 
    (sideBarEvent)="sidebarData($event)" 
    (confirmAction)="confirmAction($event)"
    (changeEvents)="changeSelectItem($event)"
    (Bulkdelete)="BulkDeleteRows($event)" 
    (onAdd)="onAdd($event)" 
    (onEdit)="onEdit($event)" 
    (isActive)="isActive($event)"
    (rowClickData)="rowClickData($event)">

    <app-form projectTowards="sidebar" *ngIf="editData" [formJSON]="formData" [editData]="editData"
       (btnEvent)="buttonEvent($event)" (formData)="sidebarData($event)" (changeEvents)="changeSelectItem($event)"></app-form>
    <app-tabular-forms projectTowards="sidebar" [tabularJSON]="tabularFormData" (tabularEmitData)="tabularValue($event)">
        <app-form *ngIf="formData1" projectTowards="sidebar" [formJSON]="formData1" 
       (btnEvent)="buttonEvent($event)" (formData)="sidebarDataForm1($event)"></app-form>
       <app-form *ngIf="formData2" projectTowards="sidebar"  [formJSON]="formData2" 
       (btnEvent)="buttonEvent($event)" (formData)="sidebarDataForm1($event)"></app-form>
       <app-form *ngIf="formData3" projectTowards="sidebar"  [formJSON]="formData3" 
       (btnEvent)="buttonEvent($event)" (formData)="sidebarDataForm1($event)"></app-form>
       <app-form *ngIf="formData4" projectTowards="sidebar"  [formJSON]="formData4" 
       (btnEvent)="buttonEvent($event)" (formData)="sidebarDataForm1($event)"></app-form>
       <app-form *ngIf="formData5" projectTowards="sidebar"  [formJSON]="formData5" 
       (btnEvent)="buttonEvent($event)" (formData)="sidebarDataForm1($event)"></app-form>
       <app-form *ngIf="formData6" projectTowards="sidebar"  [formJSON]="formData6" 
       (btnEvent)="buttonEvent($event)" (formData)="sidebarDataForm1($event)"></app-form>
    </app-tabular-forms>
    <app-form projectTowards="sidebar" *ngIf="editData" [formJSON]="sidebarButtonJSON" [editData]="editData"
       (btnEvent)="buttonEvent($event)" (formData)="sidebarData($event)"></app-form>

</app-super-grid>
<p-toast></p-toast>
