<div class="row" *ngIf="data.length == 2">
    <div class="col">
        <label for="{{data[0].code}}">{{data[0].label}}</label>
        <p-dropdown [options]="dropdown1" [(ngModel)]="drop1DefaultValue" [inputId]="data.code" optionLabel="name" optionValue="code" [showClear]="true"
            [showClear]="false" (onChange)="renderSecondDrop($event)"></p-dropdown>
    </div>
    <div class="col">
        <label for="{{data[1].code}}">{{data[1].label}}</label>
        <p-dropdown inputId="drop2" [(ngModel)]="drop2DefaultValue" [options]="drop2" [inputId]="data.code" optionLabel="name" optionValue="code"
            [showClear]="true" [showClear]="false" (onChange)="secondDropValue($event)"></p-dropdown>
    </div>
</div>

<div class="row" *ngIf="data.length == 3">
    <div class="col">
        <label for="{{data[0].code}}">{{data[0].label}}</label>
        <p-dropdown [options]="dropdown1" [(ngModel)]="drop1DefaultValue" [inputId]="data.code" optionLabel="name" optionValue="code" [showClear]="true"
            [showClear]="false" (onChange)="renderSecondDrop($event)"></p-dropdown>
    </div>
    <div class="col">
        <label for="{{data[1].code}}">{{data[1].label}}</label>
        <p-dropdown inputId="drop2" [(ngModel)]="drop2DefaultValue" [options]="drop2" [inputId]="data.code" optionLabel="name" optionValue="code"
            [showClear]="true" [showClear]="false" (onChange)="secondDropValue($event)"></p-dropdown>
    </div>
    <div class="col">
        <label for="{{data[2].code}}">{{data[2].label}}</label>
        <p-dropdown inputId="drop3" [(ngModel)]="drop3DefaultValue" [options]="drop3" [inputId]="data.code" optionLabel="name" optionValue="code"
            [showClear]="true" [showClear]="false" (onChange)="thirdDropValue($event)"></p-dropdown>
    </div>
</div>