<p-breadcrumb [model]="breadcrumb.itemsList" ></p-breadcrumb>
<h3 class="Sidebar-title-md "><i class="bi bi-file-earmark-medical"></i>Super Speciality</h3>
<app-super-grid
    *ngIf="data"
    [configurations]="configurations"
    [tableData]="data"
    [tableConfig] = "config"
    [sidebarJSON]="sidebar_Update_Input"
    (sideBarEvent)="closeSidebarData($event)"
    (confirmAction)="confirmAction($event)"
    (editRow)="editRow($event)" 
    (addRow)="addRow($event)"
    (isActive)="isActive($event)"
    (onAdd)="onAdd($event)"
    (onEdit)="onEdit($event)"
    (Bulkdelete)="BulkDeleteRow($event)">
    <app-form projectTowards="sidebar" *ngIf="editData" [formJSON]="sidebar_Update_Input" [editData]="editData" (btnEvent)="buttonEvent($event)" (formData)="sidebarData($event)"></app-form>
</app-super-grid>
<!-- <p-toast></p-toast> -->
