<p-breadcrumb [model]="applicationBreadcrumb.itemsList" ></p-breadcrumb>
<h3 class="Sidebar-title-md"><i class="bi bi-file-earmark-medical"></i>Sub Module</h3>

<app-super-grid
    *ngIf="isDataReady"
    [configurations]="gridConfigurations" 
    [tableData]="mstSubData" 
    [tableConfig] = "tableConfig"
    [sidebarJSON] = "sidebarConfig"
    (sideBarEvent)="closeSidebarData($event)"
    (confirmAction)="confirmAction($event)"
    (isActive)="toggleMstSubStatus($event)"
    (Bulkdelete)="bulkDeleteMstSubModule($event)"
    (onEdit)="onEdit($event)"
    (onAdd)="initializeAddForm($event)"
    [editData]="selectedSubData">

    <app-form projectTowards="sidebar" *ngIf="selectedSubData" [formJSON]="sidebarConfig" [editData]="selectedSubData"
    (btnEvent)="handleButtonClick($event)" (formData)="sidebarData($event)"></app-form>

</app-super-grid>
<p-toast></p-toast>