
<p-breadcrumb [model]="Application_breadcrumb.itemsList" ></p-breadcrumb>
<h3 class="formclass"><i class="bi bi-file-earmark-medical"></i>Sub Module</h3>
<app-super-grid
    *ngIf="dataGrid"
    [configurations]="configurations" 
    [tableData]="dataGrid" 
    [tableConfig] = "config"
    [sidebarJSON] = "formdata"
    (sideBarEvent)="sidebarData($event)"
    (confirmAction)="confirmAction($event)"
    (fiteredData)="fiteredData($event)"
    (isActive)="isActive($event)"
    (Bulkdelete)="Bulkdelete($event)">
</app-super-grid>
<p-toast></p-toast>