<!-- <div class="container border">
    <app-form [formJSON]="selfRegFormData" [editData]="editData" (btnEvent)="buttonEvent($event)"
        (formData)="sidebarData($event)"></app-form>
</div> -->


<div class="">
    <div class="row">
        <!-- <div class="fixed-con">
            <div class="goog-te-gadget" id='google_translate_element'></div>
        </div> -->
        <div class="col-3 sidenav">
            <div class="col-md-12  d-none d-sm-none d-md-flex flex-column justify-content-center p-4">
                <div class="img-bg text-center">
                    <img src="../../../assets/core_assets/Medimazemain.png" class="img-fluid img-responsive w-100">
                </div>
            </div>
            <div class="col-md-12  d-none d-sm-none d-md-flex flex-column justify-content-center p-3">
                <div class="img-bg text-center">
                    <img src="../../../assets/core_assets/reg_page.png" class="img-fluid img-responsive w-100">
                </div>
            </div>
            <div class="col-md-12  d-none d-sm-none d-md-flex flex-column justify-content-center p-3">
                <div class="img-bg text-center">
                    <h5>SELF REGISTRATION <br>FORM</h5>
                </div>
            </div>
            <div class="footer  d-none d-sm-none d-md-flex flex-column justify-content-center p-3 mt-9">
                <div class="img-bg text-center">
                    <p>Generic Components Ver 1.2 2023 © Powered by Medimaze Software Pvt Ltd</p>
                </div>
            </div>
        </div>
        <div class="col main">
            <app-form [formJSON]="selfRegFormData" [editData]="editData" (btnEvent)="buttonEvent($event)"
                (formData)="sidebarData($event)"></app-form>
        </div>
    </div>
</div>



<!-- tabulat form -->
<!-- <app-tabular-forms [tabularJSON]="tabularFormData" (tabularEmitData)="tabularValue($event)">
    <app-form *ngIf="formData1" [formJSON]="formData1" (formData)="saveAddressData($event)"></app-form>
    <app-form *ngIf="formData2" [formJSON]="formData2" (formData)="saveMedicalData($event)" (changeEvents)="medicalChangeEvent($event)"></app-form>
</app-tabular-forms>
<app-form  [formJSON]="selfButton" [editData]="editData"
                (btnEvent)="FormData($event)" (formData)="FormData($event)"></app-form>
             -->