<div class="wrapper">
  <div class="sidebarMenu-custom " [ngClass]="status ? 'darSideBar' : 'genisSideBar'"
    [style.backgroundColor]="list.theme.sidenavBG">
    <div class="sideBarOrta ">
      
      <ul id="sidebar_menu" class="nav flex-column">
        <li>
          <div class="sidenavLogo" *ngIf="!status">
            <img src="{{list.header.whiteLogo}}" class="img img-fluid img-responsive openlogo" alt="Logo">
          </div>
        </li>
        <div *ngIf="status">
          <li> <img src="{{list.header.onlyLogo}}" class="img img-fluid img-responsive collapsedLogo" alt="Logo">
          </li>
        </div>
        <div class="nav-item" class="toggle wrap-toggle mt-2" (click)="clickEvent()">
          <a *ngIf="!status" class="sidenav-menu"><i><img src="../../../../assets/core_assets/Toggle.png"
                pTooltip="Collapse" tooltipPosition="top" class="togglefix"></i></a>
          <a *ngIf="status" class="sidenav-menu"><i><img src="../../../../assets/core_assets/Toggle.png"
                pTooltip="Expand Sidenav" tooltipPosition="top" style=" -webkit-transform: scaleX(-1);
                transform: scaleX(-1);"></i></a>
        </div>
      </ul>
      <div class="scroll">
        <ul id="sidebar_menu" class="nav flex-column">
          <li class="nav-item" *ngFor="let item of list.sidenavItems" (click)="setStateAsActive(item)">
            <ng-container *ngIf="item.group.length == 0 ; else list">
              <div *ngIf="item.routerLink != undefined">
                <a [class.parentMenu]="item === activeState" href="#{{item.label | rmWhiteSpaces}}"
                  data-bs-toggle="collapse" class="sidenav-menu" routerLink="{{item.routerLink}}"
                  pTooltip="{{item.label}}">
                  <i class="{{item.icon}}"></i> <span class="d-sm-inline ms-2"
                    [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">{{item.label}}</span>
                </a>
              </div>
              <div *ngIf="item.url != undefined">
                <a [class.parentMenu]="item === activeState" class="sidenav-menu" href="{{item.url}}" target="_blank"
                  pTooltip="{{item.label}}">
                  <i class="{{item.icon}}"></i> <span class="d-sm-inline ms-2"
                    [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">{{item.label}}</span>
                </a>
              </div>
            </ng-container>
            <ng-template #list>
              <a [class.parentMenu]="item === activeState" href="#{{item.label | rmWhiteSpaces}}"
                data-bs-toggle="collapse" class="sidenav-menu " pTooltip="{{item.label}}">
                <i class="{{item.icon}}"></i> <span class="d-sm-inline ms-2"
                  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"
                  style="margin-right: auto;">{{item.label}}</span> <i id="{{item.label | rmWhiteSpaces}}"
                  childItemsub-module [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"
                  class="bi bi-chevron-down downarrow"></i>
              </a>
              <ul class="collapse nav flex-column" id="{{item.label | rmWhiteSpaces}}" data-bs-parent="#menu">
                <li class="w-100" *ngFor="let childItem of item.group" (click)="setStateAsActiveChild(childItem)"
                  style="cursor: pointer;">
                  <ng-container *ngIf="childItem.submodules.length == 0; else list1">
                    <div *ngIf="childItem.routerLink != undefined">
                      <a [class.childMenu]="childItem === activeStatechild" href="#{{childItem.label | rmWhiteSpaces}}"
                        data-bs-toggle="collapse" class="sidenav-menu vsm-dropdown"
                        routerLink="{{childItem.routerLink}}" pTooltip="{{childItem.label}}">
                        <i class="{{childItem.icon}}"></i> <span class="d-sm-inline ms-2"
                          [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">{{childItem.label}}</span>
                      </a>
                    </div>
                    <div *ngIf="childItem.url != undefined">
                      <a [class.childMenu]="childItem === activeStatechild" class="sidenav-menu vsm-dropdown"
                        href="{{childItem.url}}" target="_blank" pTooltip="{{childItem.label}}">
                        <i class="{{childItem.icon}}"></i> <span class="d-sm-inline ms-2"
                          [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">{{childItem.label}}</span>
                      </a>
                    </div>
                  </ng-container>
                  <ng-template #list1>
                    <a [class.childMenu]="childItem === activeStatechild" href="#{{childItem.label | rmWhiteSpaces}}"
                      data-bs-toggle="collapse" class="sidenav-menu " pTooltip="{{childItem.label}}">
                      <i class="{{childItem.icon}}"></i> <span class="d-sm-inline ms-2"
                        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"
                        style="margin-right: auto;">{{childItem.label}}</span>
                      <i id="{{item.label | rmWhiteSpaces}}"
                        [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"
                        class="bi bi-chevron-down downarrow"></i>
                    </a>
                    <ul class="collapse nav flex-column " id="{{childItem.label|rmWhiteSpaces}}" data-bs-parent="#menu">
                      <div class="subchildMargin">
                        <li class="w-100" *ngFor="let child of childItem.submodules"
                          (click)="setStateAsActiveSubchild(child)" style="cursor: pointer;">
                          <p style="color: white; margin: 0px;">{{child.permission}}</p>
                          <div *ngIf="child.routerLink != undefined">
                            <a [class.subchildMenu]="child === activeStateSubchild" class="sidenav-menu vsm-dropdown">
                              <i class="{{child.icon}} " pTooltip="{{child.label}}"
                                routerLink="{{child.routerLink}}"></i>
                              <span
                                [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight ms-1'">{{child.label}}</span>
                            </a>
                          </div>
                          <div *ngIf="child.url != undefined">
                            <a [class.subchildMenu]="child === activeStateSubchild" class="sidenav-menu vsm-dropdown"
                              href="{{child.url}}" target="_blank">
                              <i class="{{child.icon}} " pTooltip="{{child.label}}"></i>
                              <span
                                [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight ms-1'">{{child.label}}</span>
                            </a>
                          </div>
                        </li>
                      </div>
                    </ul>
                  </ng-template>
                </li>
              </ul>
            </ng-template>
          </li>
        </ul>
      </div>
      <!-- <ul class="nav flex-column mt-0">
        <li class="nav-item" class="toggleclass" style="cursor: pointer;" (click)="clickEvent()">
          <a *ngIf="!status" class="sidenav-menu"><i class="pi pi-angle-double-left"
              style="margin-right: 20px;"></i>Collapse Sidenav</a>
          <a *ngIf="status" class="sidenav-menu"><i class="pi pi-angle-double-right"></i></a>
        </li>
      </ul> -->
      <footer class="footer fixed-bottom">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
          class="float-md-left d-block d-md-inline-block"> <span class="notranslate">HMIS Ver 1.2 | 2023 © Powered by Medimaze Pvt Ltd. </span>
        </span><span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Last login : {{LastLoginTimeDate}}</span></p>
      </footer>
    </div>
  </div>
  <div id="content">
    <app-header [headerInput]="list" (navToggle)="clickEvent()" (notification)="notificationEvent($event)"></app-header>
    <div class="">
      <div class="container-fluid spacer">
        <!-- <p-breadcrumb [model]="items.itemsList" ></p-breadcrumb> -->
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>