<p-breadcrumb [model]="Group_breadcrumb.itemsList" ></p-breadcrumb>
<h3 class="formclass"><i class="bi bi-file-earmark-medical"></i>Group Module</h3>
<app-super-grid 
    *ngIf="data"
    [configurations]="configurations" 
    [tableData]="data" 
    [tableConfig]="tableConfig"
    [sidebarJSON]="groupFormData" 
    (sideBarEvent)="sidebarData($event)" 
    (confirmAction)="confirmAction($event)"
    (Bulkdelete)="BulkDeleteRows($event)"
    (editRow)="addRow($event)" 
    (addRow)="addRow($event)" 
    (isActive)="isActive($event)"
    (onAdd)="onAdd($event)"
    (onEdit)="onAdd($event)">
</app-super-grid>