<div class="">
    <p-table #dt id="dataTable" [value]="tableData" [reorderableColumns]="config.isDragAndDrop"
        [reorderableColumns]="config.isDragAndDrop" [resizableColumns]="config.resizableColumns" columnResizeMode="fit"
        [rows]="config.rows" [paginator]="config.paginator" [columns]="selectedColumns" styleClass="{{config.stripped}}"
        [showCurrentPageReport]="config.showCurrentPageReport" [rowsPerPageOptions]="config.rowsPerPageOptions"
        [loading]="config.loading" [(selection)]="chekboxes" selectionMode="single"
        [globalFilterFields]="config.globalFilter" [rowHover]="config.rowHover" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (click)="disableContextMenu()"
        oncontextmenu="return false;">
        <ng-template pTemplate="caption">
            <div class="tableFeatures">
                <div class="item1 mx-1">
                    <span class="p-input-icon-left-search-icon me-2" style="width: 100%;">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="wrapper"
                            (input)="dt.filterGlobal(($any($event.target).value), 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
                <div class="col-md-1 mx-1">
                    <p-multiSelect [options]="colNames" pTooltip="Selected Columns" tooltipPosition="top"
                        [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected"
                        [style]="{minWidth: '50px'}" placeholder="Choose Columns"></p-multiSelect>
                </div>
                <div class="item5 mx-1">
                    <span *ngIf="config.addButton">
                        <button class="btn butn-sucss me-1" pTooltip="Add New" tooltipPosition="top" pRipple
                            (click)="AddNewProduct($event)">
                            <i class="pi pi-plus" pTooltip="{{config.buttonlbl}}"></i>{{config.buttonlbl}}</button>
                    </span>
                    <button *ngIf="config.bulkAction.includes('PDF')" class="btn butn-wrng me-1"
                        pTooltip="Export To PDF" tooltipPosition="top" pRipple (click)="exportPdf()"><i
                            class="pi pi-file-pdf"></i></button>
                    <button *ngIf="config.bulkAction.includes('EXCEL')" class="btn butn-sucss me-1"
                        pTooltip="Export To Excel" tooltipPosition="top" pRipple (click)="exportExcel()"><i
                            class="pi pi-file-excel"></i></button>
                    <button *ngIf="config.bulkAction.includes('Delete')" class="btn butn-dngr me-1"
                        pTooltip="Bulk Delete" tooltipPosition="top" pRipple (click)="ondeletechecked()"><i
                            class="pi pi-trash"></i></button>
                </div>
            </div>
        </ng-template>
        <!-- Columns/Table Header -->
        <ng-template pTemplate="header" let-columns style="padding: 0.25rem 0.25rem;">
            <tr>
                <th style="width: 1rem; text-align: center; max-width: 1rem;" *ngIf="config.isCheckbox">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width : 7rem; padding: 0.25rem 0.25rem;" pSortableColumn="{{col.field}}"
                    *ngFor="let col of columns" pResizableColumn pReorderableColumn>
                    <div class="flex justify-content-center align-items-center">
                        {{col.header}}
                        <!-- <p-columnFilter type="text" field="{{col.field}}" display="menu"></p-columnFilter> -->
                        <p-sortIcon type="text" pTooltip="Sort" tooltipPosition="top" style="float: right;"
                            field="{{col.field}}"></p-sortIcon>
                    </div>
                </th>
                <th class=" text-center" *ngIf="config.isActions" style="width : 4rem;">
                    Actions
                </th>
                <th style="width: 1rem" *ngIf="config.expand"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
            <tr (click)="onRowClick(rowData)" (contextmenu)="onrightClick($event, rowData)">
                <td *ngIf="config.isCheckbox" style="padding: 0.25rem 0.25rem;width: 1rem; text-align: center;">
                    <p-tableCheckbox [value]="rowData" name="abc" ngDefaultControl
                        [(ngModel)]="chekboxes"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns" style="padding: 0.25rem 0.25rem;" pEditableColumn class="{{col.class}}"
                    [ngStyle]="{color: getColor(rowData[col.field])}">
                    <p-cellEditor *ngIf="col.iseditable; else normalText">
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col.field]" (blur)="editT(rowData)">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <app-moreandless [wordLimit]="config.textLength"
                                [text]="rowData[col.field] "></app-moreandless>
                        </ng-template>
                    </p-cellEditor>
                    <ng-template #normalText>
                        <!-- {{rowData[col.field] }} -->
                        <app-moreandless [wordLimit]="config.textLength" [text]="rowData[col.field] "></app-moreandless>
                    </ng-template>
                </td>
                <!-- <td *ngFor="let col of columns" style="padding: 0.25rem 0.25rem;">
                    <ng-template *ngIf="!col.iseditable">
                        {{rowData[col.field]}}
                    </ng-template>
                </td> -->
                <td *ngIf="config.isActions" style="padding: 0.25rem 0.25rem; width: 12rem ; text-align: center;">
                    <ng-container>
                        <button *ngIf="config.isActions.includes('Edit')"  pTooltip="Edit" tooltipPosition="top" class="shorcut-iocns"><i>
                                <img src="../../../assets/core_assets/edit.png" class="image-size"
                                    (click)="editProduct(rowData)"></i>
                        </button>

                        <button *ngIf="config.isActions.includes('Delete')" pTooltip="Delete" tooltipPosition="top" class="shorcut-iocns" id="abc{{rowData.id}}"
                             [disabled]="!rowData.is_Active"><i>
                                <img src="../../../assets/core_assets/delete.png"
                                    (click)="ondelete(rowData);disable(rowData)" class="image-size"></i></button>

                        <!-- new Add  -->
                        <button *ngIf="config.isActions.includes('Scanner')" pTooltip="Scanner" tooltipPosition="top" class="shorcut-iocns"><i>
                                <img src="../../../assets/core_assets/barcode-scanner.png" class="image-size"
                                    (click)="ScannerClick($event,rowData)" ></i>
                        </button>
                        <button *ngIf="config.isActions.includes('Emergency')" pTooltip="Emergency" tooltipPosition="top" class="shorcut-iocns"><i>
                                <img src="../../../assets/core_assets/alarm.png" class="image-size"
                                    (click)="emergencyClick($event,rowData)" ></i>
                        </button>
                        <button *ngIf="config.isActions.includes('IPD')" pTooltip="IPD" tooltipPosition="top" class="shorcut-iocns"><i>
                                <img src="../../../assets/core_assets/hospital-bed.png" class="image-size"
                                    (click)="IPDclick($event,rowData)"></i>
                        </button>
                        <button *ngIf="config.isActions.includes('OPD')" pTooltip="OPD" tooltipPosition="top" class="shorcut-iocns"><i>
                                <img src="../../../assets/core_assets/examination.png" class="image-size"
                                    (click)="OPDclick($event,rowData)" ></i>
                        </button>
                        <button *ngIf="config.isActions.includes('Servies')" pTooltip="Servies" tooltipPosition="top" class="shorcut-iocns"><i>
                                <img src="../../../assets/core_assets/healthcare.png" class="image-size"
                                    (click)="serviceClick($event,rowData)" ></i>
                        </button>
                        <!-- new Add  -->
                        <button *ngIf="config.isActions.includes('Viewer')" class="shorcut-iocns" pTooltip="Viewer"
                            tooltipPosition="top" pButton pRipple icon="pi pi-window-maximize"
                            style="background-color: black;" routerLink="/dicom-viewer"
                            class="p-button-rounded "></button>
                        <div *ngIf="config.isActions.includes('isActive')"
                            class="form-check form-switch form-check-inline">
                            <input class="form-check-input float-end" id="abc{{rowData.id}}"
                                (click)="active($event,rowData)" [checked]="rowData.is_Active" pTooltip="Active"
                                tooltipPosition="top" type="checkbox" role="switch">
                        </div>

                    </ng-container>
                </td>
                <td *ngIf="config.expand" style="text-align: center;">
                    <button type="button" pTooltip="Expand" tooltipPosition="top" pButton pRipple
                        [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain p-button-circle"
                        [icon]="expanded ? 'bi bi-chevron-up' : 'bi bi-chevron-down'"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
                <td [attr.colspan]="12">
                    <div class="ui-g ui-fluid" style="font-size:15px; padding:5px">
                        <div class="ui-g-12 ui-md-9">
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <b>Id :</b> {{rowData.id}}
                                    <b>Category :</b> {{rowData.category}}
                                    <ng-content></ng-content>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="contextmenu" style="position: absolute;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);"
    [ngStyle]="{'left.px': contextmenuX, 'top.px': contextmenuY}">
    <ul class="nav flex-column" style="background-color: white;
    width: 250px;
    padding: 7px;">
        <li class="contextMenus" *ngFor="let list of contextMenus" (click)="rightClick(list)"><img
                class="contextMenusImgs" [src]="list.img" alt="">{{list.menu}}</li>
    </ul>
</div>